.file-explorer-bookmarks-separator {
    margin: 12px 0;
    border-top: var(--border-width) solid var(--background-modifier-border)
}

.file-explorer-bookmarks-shadow-leaf-disclaimer {
    margin: 12px;
}